@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fontsource/fira-mono";

/* default styles */
@layer base {
  :root {
    --font-body: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
      Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --font-mono: "Fira Mono", monospace;
    --color-bg-0: rgb(202, 216, 228);
    --color-bg-1: hsl(209, 36%, 86%);
    --color-bg-2: hsl(224, 44%, 95%);
    --color-theme-1: #ff3e00;
    --color-theme-2: #4075a6;
    --color-text: rgba(0, 0, 0, 0.7);
    --column-width: 42rem;
    --column-margin-top: 4rem;
    font-family: var(--font-body);
    color: var(--color-text);
  }

  body {
    background-attachment: fixed;
    background-color: var(--color-bg-1);
    background-size: 100vw 100vh;
    background-image: radial-gradient(
        50% 50% at 50% 50%,
        rgba(255, 255, 255, 0.75) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
  }

  pre {
    font-size: 16px;
    font-family: var(--font-mono);
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 3px;
    box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
    padding: 0.5em;
    overflow-x: auto;
    color: var(--color-text);
  }
}

/* inputs */
@layer components {
  .button-primary {
    @apply bg-blue-900 hover:bg-blue-700 focus:bg-blue-700;
    @apply text-white;
    @apply max-w-max rounded px-2 py-1;
    @apply font-bold;
  }

  .button-secondary {
    @apply bg-blue-100 hover:bg-blue-200 focus:bg-blue-200;
    @apply max-w-max rounded px-2 py-1;
    @apply font-bold;
  }

  button:active {
    @apply bg-blue-100;
  }

  button:disabled {
    @apply bg-gray-400 hover:bg-gray-400;
    @apply text-gray-300;
    @apply italic;
  }

  input {
    @apply rounded border border-gray-200;
  }

  input[type="text"] {
    @apply px-2;
  }
  input[type="number"] {
    @apply pl-2;
  }

  input:focus:invalid,
  input:user-invalid {
    @apply bg-red-50;
  }

  input:focus:valid,
  input:user-valid {
    @apply bg-green-50;
  }

  /* add asterisk to labels with required input */
  label:has(+ input:required)::after {
    content: " *";

    @apply text-red-500;
  }
}

/* section */
@layer components {
  .section-style {
    @apply px-4 py-2;
    @apply rounded border border-gray-600;
    @apply bg-gray-50;
  }
}

/* text */
@layer components {
  .heading-style-1 {
    @apply font-bold;
    @apply text-3xl;
  }

  .heading-style-2 {
    @apply font-bold;
    @apply text-2xl;
  }

  .text-minor {
    @apply text-sm italic text-gray-600;
  }
}
