@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fontsource/fira-mono";

/* default styles */
@layer base {
  :root {
    --font-body: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
      Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --font-mono: "Fira Mono", monospace;
    font-family: var(--font-body);

    --color-theme-1: #ff3e00;
    --color-theme-2: #4075a6;
    --color-text: rgba(0, 0, 0, 0.7);
  }

  body {
    @apply bg-fixed;
    @apply bg-teal-800;
    @apply bg-[url("noise.svg")] bg-blend-overlay;
    @apply accent-teal-300;
  }

  pre {
    @apply overflow-x-auto;
    @apply px-2 pb-1 pt-2;
    @apply rounded-sm;
    @apply shadow-inner;
    @apply bg-gray-100;
  }

  a {
    @apply underline;
    @apply hover:text-gray-600;
  }
}

/* inputs */
@layer components {
  .button-base {
    @apply max-w-max rounded px-2 py-1;
    @apply font-bold;
    @apply shadow-sm;
  }

  .button-primary {
    @apply button-base;
    @apply bg-teal-800;
    @apply text-white;
    @apply shadow-green-600;
  }

  .button-secondary {
    @apply button-base;
    @apply bg-teal-100;
    @apply shadow-teal-300;
  }

  button:hover,
  button:focus {
    @apply bg-teal-300;
    @apply text-black;
    @apply shadow-teal-500;
  }

  button:active {
    @apply bg-teal-100;
    @apply text-black;
    @apply shadow-inner;
  }

  button:disabled {
    @apply bg-gray-400 hover:bg-gray-400;
    @apply text-gray-300;
    @apply shadow-gray-500;
  }

  input {
    @apply rounded border border-gray-200;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    @apply px-2;
  }
  input[type="number"] {
    @apply pl-2;
  }

  input:focus:invalid,
  input:user-invalid {
    @apply bg-red-50;
  }

  input:focus:valid,
  input:user-valid {
    @apply bg-green-50;
  }

  /* add asterisk to labels with required input */
  label:has(+ input:required)::after {
    content: " *";

    @apply text-red-500;
  }
}

/* section */
@layer components {
  .section-style {
    @apply px-4 py-2;
    @apply rounded-lg border border-gray-600 bg-gray-50;
    @apply shadow-md shadow-gray-600;
  }
}

/* text */
@layer components {
  .heading-style-1 {
    @apply text-center text-4xl font-bold text-gray-100;
    @apply mb-6;
  }

  .heading-style-2 {
    @apply text-2xl font-bold;
  }

  .heading-style-3 {
    @apply text-xl font-bold;
  }

  .text-minor {
    @apply text-sm italic text-gray-600;
  }
}
