@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* root styling */
@layer base {
  :root {
    @apply scroll-pt-20 scroll-smooth;
    @apply text-gray-800;
    @apply bg-gray-50 bg-[url("noise.svg")] bg-fixed bg-blend-overlay;
    @apply caret-teal-300 accent-teal-300;
  }
}

/* inputs */
@layer components {
  .button-base {
    @apply rounded-lg px-6 py-2;
    @apply font-semibold;
    @apply shadow-sm;
    @apply text-xl;
  }

  .button-primary {
    @apply button-base;
    @apply bg-teal-800;
    @apply text-white;
    @apply shadow-green-600;
  }

  .button-secondary {
    @apply button-base;
    @apply bg-teal-100;
    @apply shadow-teal-300;
  }

  button:hover,
  button:focus {
    @apply bg-teal-300;
    @apply text-black;
    @apply shadow-teal-500;
  }

  button:active {
    @apply bg-green-300;
    @apply text-black;
    @apply shadow-inner shadow-gray-900;
    @apply outline outline-green-300;
    @apply cursor-wait;
  }

  button:disabled {
    @apply bg-gray-400 hover:bg-gray-400;
    @apply text-gray-300;
    @apply shadow-gray-500;
    @apply cursor-wait;
  }

  input {
    @apply rounded-lg border border-gray-200 py-2;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    @apply px-2;
  }
  input[type="number"] {
    @apply pl-2;
  }

  input:focus-visible:invalid,
  input:user-invalid {
    @apply bg-red-50;
    @apply outline-red-500;
    @apply border-red-500;
  }

  input:focus-visible:valid,
  input:user-valid {
    @apply bg-green-50;
    @apply outline-green-500;
    @apply border-green-500;
  }

  /* add asterisk to labels with required input */
  label:has(+ input:required)::after {
    @apply text-red-500;

    content: " *";
  }
}

/* text */
@layer components {
  a {
    @apply underline;
    @apply hover:text-gray-950;
  }

  .heading-style-1 {
    @apply text-4xl font-bold md:text-6xl;
    @apply mb-12;
  }

  .heading-style-2 {
    @apply text-2xl font-bold;
  }

  .heading-style-3 {
    @apply text-xl font-bold;
  }

  .text-minor {
    @apply text-sm italic text-gray-700;
  }
}
